.bar-main-container {
    padding-left: 30px;
}

.bar-main-container .bar-group {
    display: flex;
    flex-direction: row;
    background-color: white;
    flex-flow: wrap-reverse;
}

.bar-main-container .bar-group .bar {
    background-color: blue;
    width: 45px;
    height: 160px;
    margin: 0px 35px;
}

.bar-main-container .bar-label-section {
    display: flex;
    flex-direction: row;
}

.bar-main-container .bar-label-section .bar-details {
    display: flex;
    flex-direction: column;
    margin: 15px 28px;
}


.bar-main-container  canvas {
    width: 80% !important;
    height: 80% !important;
}